/.classpath
/.project
/.settings
/target
/characters
/temp
/materials
/lwjgfont.properties
/lwjgfont.log
/*.jar
/*.pom.xml
/src/main/resources/net/chocolapod/lwjgfont/version.properties
/missing-characters.txt
